mixin haiku(title, date, line1, line2, line3)
  h2
    span.date #{date}
    | ~
    span.name #{title}
  p
    | #{line1}
    br
    | #{line2}
    br
    | #{line3}
h1#tit haikus
- var json = JSON.parse(yaml)
each val, key in json
  h2
    span.date= val.date
    | ~
    span.name= val.title
  p=val.haiku