- var json = JSON.parse(yaml)
h1 Questions
main 
  section.submitted
    h2 User Submitted Questions
    form(action = "/request", method = "POST")
      label(for = "question") ASK:
      input#question(name = "question" preview = "An interesting title...")
      button(type = "submit") Submit
    each val, key in json["user-submitted"]
      h3
        span.date= val.time
        | 
        span.q= val.q
      p !{val.a}
  each value, key in json.self
    p.date #{key}
    each val, key in value
      h3
        span.date= val.time
        | 
        span.q #{val.q}
      p !{val.a}